.header {
    background-color: #000000;
    padding-right: 79px;
    padding-left: 118px;
}

@media (max-width: 900px) {
    .header {
        padding-left: 0;
    }
}

.logo {
    font-family: Work Sans, sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
}
